body {
    background-color: #151514;
}

.image-container {
    padding: 50px;
    top: 20%;
    left: 10%;
    max-width: none;
    max-height: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

#welcome {
    padding: 20px;
    font-weight: bold;
    font-size: 70px;
    top: 38%;
    left: 58%;
    width: 800px;
}

.hero {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    margin-inline: auto;
}

.npt {
    font-size: 40px;
    border-bottom: solid white 2px;
    padding-bottom: 20px;
}

.word {
    font-size: 20px;
    padding-top: 13px;
    font-weight: 300;
}

#buttoner {
    font-weight: bold;
    border-radius: 20px;
    padding: 25px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #40403f;
    color: white;
}

#buttoner:hover {
    background-color: white;
    color: black;
}